<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Specivo{% endblock %}</title>
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', path='img/favicon.svg') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='vendor/bootstrap.5.3.6.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/' + versioned['specivo.css']) }}">
  {% block plugin_css %}{% endblock %}
  {% block head %}{% endblock %}
</head>
<body class="standalone">
  {% block content %}{% endblock %}
  <footer class="app-footer app-footer--standalone">
    Powered by <a href="https://specivo.io/" target="_blank">Specivo</a>
  </footer>
  {% block plugin_js %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>
