<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ brand_name }}{% endblock %}</title>
  <link rel="icon" type="image/svg+xml" href="/static/img/favicon.svg">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#12102e">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="/static/vendor/bootstrap.5.3.6.min.css">
  <link rel="stylesheet" href="/static/css/{{ versioned['specivo.css'] }}">
  {% block plugin_css %}{% endblock %}
  {% block head %}{% endblock %}
</head>
<body class="standalone">
  {% block content %}{% endblock %}
  <footer class="app-footer app-footer--standalone">
    Powered by <a href="https://specivo.io/" target="_blank">Specivo</a>
  </footer>
  {% block plugin_js %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>
